@use "sass:color";
@use "@/styles/variables" as *;
@use "@/styles/base" as *;
@use "@/styles/mixins" as *;

@mixin fieldset-input {
  legend {
    margin-bottom: 0.5rem;
    font-weight: 200;
  }

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    
    input {
      @extend %super-input;
      background-color: $black-700;
      border-color: $black-700;
    }

    span {
      position: absolute;
      left: 16px;
      top: 4px;

      &::before {
        @include display-position(inline-flex, center, center);
      }
    }
  }
}

@mixin date-input {
  position: relative;

  input {
    @include input-filter;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    right: 0.75rem;
    top: 70%;
    transform: translateY(-50%);
    color: $white-900;
    pointer-events: none;
    cursor: pointer
  }
}

@mixin redirect {
  font-size: 0.85rem;
  font-weight: 200;

  button {
    margin-left: 0.5rem;
    background-color: $black-500;
    text-decoration: underline;
    color: $yellow-500;
    border: none;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }
  }
}