$black-700: hsl(0, 0%, 14%);
$black-500: hsl(0, 0%, 24%);

$gray-700: hsl(217, 19%, 27%);
$gray-500: hsl(220, 9%, 46%);
$gray-400: hsl(216, 7%, 55%);
$gray-350: hsl(218, 11%, 65%);
$gray-150: hsl(220, 13%, 91%);
$gray-100: hsl(220, 14%, 96%);

$green-400: #4ade80;

$blue-700: hsl(221, 83%, 53%);

$orange-400: hsl(27, 96%, 61%);

$red-500: hsl(0, 100%, 50%);
$red-400: hsl(0, 91%, 71%);

$yellow-400: hsl(48, 96%, 53%);
$yellow-500: hsl(60, 100%, 50%);

$white-900: hsl(0, 0%, 100%);

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);
